<div class="uk-margin uk-width-3xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
     Your Points of Uninterest To Date
    </caption>
    <thead>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each pointsOfUninterest}}
      <tr>
        <td><a href="/view-poui/{{_id}}">{{name}}</a></td>
        <td>{{category}}</td>
        <td>{{description}}</td>
        <td>{{creator.firstName}} {{creator.lastName}}</td>
        <td><a href="/edit-poui/{{_id}}" ><i title="Edit this POUI" class="far fa-edit fa-2x"></i></a></td>
        <td><a href="/delete-poui/{{_id}}" ><i title="Delete this POUI" class="far fa-trash-alt fa-2x"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{> error }}
</div>