<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="View POUI" subTitle="A detailed view of your POUI"}}
  {{> main-menu }}
</div>
<div class="uk-margin uk-width-2-3@m uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <div class="uk-heading-small uk-text-center">
    {{name}}
  </div>
  <div class="uk-grid-medium uk-card-default uk-padding-small uk-margin-auto uk-text-center" uk-grid>
    <div class="uk-width-expand uk-padding-remove-left">
      <p class="uk-text-large"><b>Category</b><br> {{category}}</p>
    </div>
    <div class="uk-width-expand uk-padding-remove-left">
      <p class="uk-text-large"><b>Location</b><br> {{lat}}, {{lng}}</p>
    </div>
  </div>

  <div class="uk-text-center uk-margin uk-margin-auto uk-card-default uk-width-1-4@s">
    <p class="uk-margin-remove-bottom uk-text-large"><b>Ratings</b></p>
    <i style="color: green;" class="fas fa-thumbs-up fa-lg uk-padding-small"> {{thumbsUp}} </i>
    <i style="color: red;" class="fas fa-thumbs-down fa-lg uk-padding-small"> {{thumbsDown}} </i>
    <p class="uk-margin-remove-top uk-text-large"><b>66% Positive</b></p>
  </div>

  <div class="uk-card-default uk-padding-small uk-margin-auto">
    <p class="uk-text-large uk-text-center"><b>Creator</b><br> {{creator}}</p>
    <p class="uk-text-large uk-margin-remove-bottom uk-padding-remove-bottom"><b>Description</b></p><br>
    <p>{{description}}</p>
  </div>

  <div class="uk-margin uk-margin-auto uk-width-1-2@s uk-text-center uk-card-default uk-padding-small">
    <img alt="poui image" src="{{imageURL}}" />
  </div>

  <div class="uk-text-center uk-text-large uk-text-bold">
    Reviews
  </div>

  <form class=" uk-grid-small uk-card uk-margin-auto uk-width-2-3@s uk-padding-small uk-card-body uk-box-shadow-medium" action="/submit-review" method="POST" uk-grid>
    <label class="uk-padding-remove-left uk-text-left uk-text-bold">Write a Review</label>
    <textarea class="uk-textarea" placeholder="Enter your review here..." type="text" name="comment"></textarea>
    <button class="submit uk-button uk-button-primary uk-button-medium uk-width-1-3">Submit review</button>
  </form>

  <table class="uk-width uk-table-small uk-padding-small">
    <thead>
      <th></th>
    </thead>
    <tbody>
      {{#each reviews}}
      <tr>
        <td class="uk-text-left uk-width-2-3@s uk-margin uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-medium">
          <b>{{reviewer}}:<br> </b><em>"{{comment}}"</em>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>