<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="View POUI" subTitle="A detailed view of your POUI"}}
  {{> main-menu }}
</div>
<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <p><b>Name:</b><br> {{name}}</p>
  <p><b>Category:</b><br> {{category}}</p>
  <p><b>Location:</b><br> {{lat}}, {{lng}}</p>
  <p><b>Description:</b><br> {{description}}</p>
  <p><b>Creator:</b><br> {{creator}}</p>
  <p><b>Image:</b></p>
  <center><img width="200px" alt="poui image" src="{{imageURL}}" /></center>
  <div class="uk-text-left">
    <p><b>Ratings</b></p>
    <i class="fas fa-thumbs-up fa-2x"> {{thumbsUp}} </i>
    <i class="fas fa-thumbs-down fa-2x"> {{thumbsDown}} </i>
  </div>
  <table class="uk-table-small">
    <thead>
      <th class="uk-text-left">
        Reviews
      </th>
    </thead>
    <tbody class="uk-text-left">
      {{#each reviews}}
      <tr>
        <td class="uk-card uk-card-default uk-card-body uk-box-shadow-medium">
          <b>{{reviewer}}:<br> </b><em>"{{comment}}"</em>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>